body{
    margin:0;
    padding:0;
}

.header{
    display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
    width: 100vw;
    margin: 0;
	/* padding: 25px 30px 25px 30px; */
	background-color: white;
    padding: 1%;
}
.logo{
    font-size: 25px;
    color: rgb(53, 196, 131);
    font-weight: bold;
    margin-left: 2%;
    text-decoration: none;
    cursor: pointer;
}

.navigation{
    display: flex;
    justify-content: flex-end;
    gap : 100%;
    flex-direction: row;
    align-items: center; 
    width :auto;  
    font-size: 15px;
    color: black;
    margin-right: 5%;
}
/* .cartButton{
    margin-right: 10px;
} */


#main {
	min-height: 100vh;
	width: 100vw;
	margin: 0;
    background-image: url('./images/background.jpg');
    background-position: center;
    background-position: center center;
    background-size: cover;
    background-size : 100% 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap : 20px;
}

#title_main{
    width : 100%;
    text-align: center;
    font-size: 70px;
    color : white;
}
#subtitle_main{
    width : 100%;
    text-align: center;
    font-size: 40px;
    color : white;
}

.cards_main{
    width : 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 100px; 
}

.card-right{
    padding: 15px;
    border : none;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 250px;
    height : 300px;
	margin: 30px;
	background-color: white;
	background-size: cover;
	border-radius: 20px;
}
.card-left{
    padding: 15px;
    border : none;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 250px;
    height : 300px;
	margin: 30px;
	background-color: white;
	background-size: cover;
	border-radius: 20px;
}

.journeyInfos{
    width: 100%;
    display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

#newJourney{
    width:100%;
    display :flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.269);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#underscore{
 color: rgb(53, 196, 131);
 font-size: 20px;
}

.bookButton{
    background-color:rgb(53, 196, 131);
    color: white;
    border-radius: 8px;
    border : none;
    padding: 8px;
}

button{
    cursor: pointer;
}

#addCity{
    width:100%;
    background-color:rgb(53, 196, 131);
    color: white;
    border-radius: 8px;
    border : none;
    padding: 8px;
}

input{
    width: 100%;
    outline: none;
    border : none;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.269);
    padding: 8px;
    height: 25px;
}
#arrivalInput{
    border-top: solid grey;
}

img{
    width: 50%;
    height: auto;
}
.cartButton{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.purchaseButton{
    cursor: pointer;
    text-decoration: none;
    color: black;

}

#bodyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 100vw;
    height: 100vh;
    background-color: rgb(241, 241, 241);
}

#cardCart{
    border: solid black;
    background-color: white;
    border-radius: 8px;;
    height: 30%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

#newScheduleListCart{
    width:100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newscheduleCart{
    width:90%;
    display :flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.269);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#itineraryCart{
    display :flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.deleteButton{
    background-color:rgb(53, 196, 131);
    color: white;
    border-radius: 2px;
    border : none;
    padding: 8px;
}
#totalCardCart{
    background-color: rgb(29, 29, 99);
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap:70%;
    
}


.purchaseButton{
    background-color:rgb(53, 196, 131);
    color: white;
    border-radius: 2px;
    border : none;
    padding: 8px;
}
#totalCart{
    color: white;
}